* {
    margin: 0;
    padding: 0;
}

body {
    background: blue;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 15rem;

    pointer-events: none;

    transition :400ms;
}

#game-area {
    display: grid;
    grid-template-rows:    repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);

    gap: .5em;

width: max-content;
height: max-content;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 9rem;
    border: 1px solid black;
    background: lightblue;
    aspect-ratio: 5 / 7;

    transition: 1s;
}